@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

$primary-color:#480ca8;
$primary-color-variant:#4cc9f0;
$secondary-color:#f75585;
$white-color:#fff;
$light-color:rgba(#fff,0.7);
$balck-color:#0c03ab;
$dark-color:rgba($balck-color,0.7);
$success-color:#54eb72;
$container-lg:83%;
$container-md:90%;