header{
    @include gradientBackground;
    height: 100vh;
    display: grid;
    align-items: center;
    overflow: hidden;
    .container{
        margin-top: 3rem;
        display: grid;
        grid-template-columns: 46% 46%;
        gap:8%;
        align-items: center;
        justify-content: space-between;
    }
    .header-content{
        h1{
            font-size: 3.5rem;
            line-height: 1.1;
            letter-spacing: -3px;
        }
        p{
            color: $light-color;
            margin: 1rem 0 2rem;
            font-size: 1.1rem;
        }
    }
}
/*===============responsive design==========*/
@media screen and(max-width:1024px){
    header{
        height: 60vh;
        .container{
            .header-content{
                h1{
                    font-size: 2.5rem;
                }
            }
        }
    }
}

/*===============Media Query Small Device==========*/
@media screen and(max-width:600px){
    header{
        height: 100vh;
        padding-top: 3rem;
        .container{
           grid-template-columns: 1fr;
           text-align: center;
        }
    }
}